:root {
  --speed: 300ms;
  --time-function: ease-in-out;
  --vh: 1vh;
  --currentColor: currentColor;
}

/* FONT SourceSansPro */
/*images*/
/*=======================START-MEDIA=====================*/
/*=======================END-MEDIA=====================*/
/* media breakpoint mixin */
.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: calc(100 * var(--vh));
}

.hero .container, .hero__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.hero__inner {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.hero__title {
  font-weight: 400;
  text-align: center;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.hero__button {
  font-weight: 500;
  position: absolute;
  -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
          transform: translateX(-50%);
  left: 50%;
  bottom: 30px;
  font-size: 12px;
  line-height: 1.33;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-property: all;
  transition-property: all;
}

@media (any-hover: hover) {
  .hero__button:hover {
    -webkit-transform: translate(-50%, -5px);
        -ms-transform: translate(-50%, -5px);
            transform: translate(-50%, -5px);
  }
}

.hero__button .icon {
  margin-top: 5px;
  -webkit-transform: rotate(90deg);
      -ms-transform: rotate(90deg);
          transform: rotate(90deg);
  height: 13px;
  width: 7px;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center;
     object-position: center;
}

.dashboard-section {
  padding-top: 40px;
  padding-bottom: 40px;
}

.dashboard-section__main-title:not(:last-child) {
  margin-bottom: 55px;
}

.dashboard-section__subtitle {
  margin-top: 7px;
  color: #16C098;
}

.dashboard-section__inner {
  background: #fff;
  border-radius: 30px;
  padding: 38px 0;
  margin-top: 28px;
}

@media only screen and (min-width: 1200px) {
  .dashboard-section__inner {
    margin-top: 53px;
  }
}

.dashboard-section__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 30px;
  padding-right: 30px;
}

.dashboard-section__bottom {
  overflow: auto;
}

.dashboard-section__bottom:not(:first-child) {
  margin-top: 40px;
}

.dashboard-section__table {
  display: block;
}

.dashboard-section__table td {
  padding: 0;
}

.dashboard-section__heading-wrapper {
  padding: 0px 20px;
  padding-bottom: 14px;
  border-bottom: 1px solid #EEEEEE;
  font-weight: 500;
  color: #b5b7c0;
}

@media only screen and (min-width: 1200px) {
  .dashboard-section__heading-wrapper {
    padding: 0px 30px;
  }
}

.dashboard-section__table {
  text-align: left;
}

.dashboard-section__table thead,
.dashboard-section__table tbody {
  width: 100%;
  display: block;
}

.dashboard-section__content {
  padding: 20px 0px;
  border-bottom: 1px solid #EEEEEE;
  max-width: calc(100% - 20px * 2);
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (min-width: 768px) {
  .dashboard-section__content {
    max-width: calc(100% - 30px * 2);
  }
}

.dashboard-section__content-item {
  font-weight: 500;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.dashboard-section__content-item a {
  -webkit-transition-timing-function: ease-in-out;
          transition-timing-function: ease-in-out;
  -webkit-transition-duration: 300ms;
          transition-duration: 300ms;
  -webkit-transition-property: all;
  transition-property: all;
}

@media (any-hover: hover) {
  .dashboard-section__content-item a:hover {
    color: #5932ea;
  }
}

.dashboard-section__pagination-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 20px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 20px;
}

@media only screen and (min-width: 768px) {
  .dashboard-section__pagination-wrapper {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 1200px) {
  .dashboard-section__pagination-wrapper {
    padding: 0 30px;
  }
}

.dashboard-section__pagination-wrapper p {
  letter-spacing: -0.01em;
  color: #b5b7c0;
}

.dashboard-section__pagination-wrapper:not(:first-child) {
  margin-top: 20px;
}

@media only screen and (min-width: 1200px) {
  .dashboard-section__pagination-wrapper:not(:first-child) {
    margin-top: 40px;
  }
}

/*# sourceMappingURL=dashboard-page.css.map */
