body {
  font-size: 14px;
  box-sizing: border-box;
  background-color: $seconded;
  background-position: top center;
  background-size: cover;
  color: $black;
  font-family: Poppins, sans-serif;
}

span, a, p, strong, em, b {
  line-height: 1.5;
}

a {
  color: inherit;
}

input {
  border: none;
  padding: 0;
}

.container {
  max-width: $site-container;
  width: 100%;
  padding-left: $padding;
  padding-right: $padding;
  margin-left: auto;
  margin-right: auto;
}

*:focus, *:focus-visible {
  outline: none !important;
}

h1, h2, h3, h4, h4, h6, .h1-title, .h2-title, .h3-title, .h4-title, .h5-title, .h6-title {
  display: block;
  line-height: 1;
}

h1, .h1-title {
  @extend %h1-title;
}

h2, .h2-title {
  @extend %h2-title;
}

h3, .h3-title {
  @extend %h3-title;
}

h4, .h4-title {
  @extend %h4-title;
}

h5, .h5-title {
  @extend %h5-title;
}

h6, .h6-title {
  @extend %h6-title;
}

.wrapper {
  display: flex;
  min-height: 100vh;
  overflow: hidden;
  flex-direction: column;

  @include min-media(1200) {
    flex-direction: row;
  }
}

.main-wrapper {
  width: 100%;
  flex-grow: 1;

  @include min-media(1200) {
    max-width: calc(100% - #{$header-width});
    flex-grow: 0;
  }
}

.button__full-reset {
  padding: 0;
  border: 0;
  background-color: transparent;
}

.hidden {
  display: none !important;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.disable {
  pointer-events: none !important;
}

.logo {
  display: flex;
  gap: 8px;
  align-items: baseline;

  img {
    align-self: center;
  }

  &__name {
    font-weight: 600;
    font-size: 26px;
    letter-spacing: 0.01em;
  }

  &__version {
    font-weight: 500;
    font-size: 10px;
    letter-spacing: -0.01em;
  }
}

.grid {
  display: grid;
  gap: 20px;
  grid-template-columns: calc(115px + 37px) calc(70px + 41px) calc(104px + 32px) calc(141px + 41px) calc(118px + 27px) 80px;
}